<!-- adminDashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
        <title>Admin dashboard</title>
        <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">
        <script th:src="@{/js/render.js}" defer></script>
        <script th:src="@{/js/util.js}" defer></script>
        <script th:src="@{/js/components/header.js}" defer></script>
        <script th:src="@{/js/components/footer.js}" defer></script>
    </head>
    <body>
        <!--WRAPS EVERYTHING-->
        <div class="container">
            <div class="wrapper">
<!--                dynamic header via header.js-->
                <div id="header">

                </div>
<!--                contains search bar, filter section, dynamically-injected list of doctors-->
                <main class="main-content">
<!--                    searchbar, TODO: no <form> needed? add action as well DEBUG-->



                        <input type="text" id="searchBar" placeholder="search by doctor name" />
                        <label for="timeSorting">Sort by Time</label>
                        <select name="timeSorting" id="timeSorting">
                            <option value="am">AM</option>
                            <option value="pm">PM</option>
                        </select>
                        <label for="specialtySorting">Sort by Specialty</label>
                        <select name="specialtySorting" id="specialtySorting">
                            <option value="am">AM</option>
                            <option value="pm">PM</option>
                        </select>
                    <!--Dynamic content-->
                    <div id="content">

                    </div>

                <!--Footer Placeholder-->
                <div id="footer">

                </div>

                </main>
            </div>
        </div>
        <!-- The hidden Modal -->
        <div id="modal" class="modal">
            <span id="closeModal" class="close">&times;</span>
            <div id="modal-body"></div>
        </div>

        <script type="module" src="../../static/js/adminDashboard.js" defer></script>
        <script type="module" src="../../static/js/doctorDashboard.js" defer></script>

    </body>
</html>
