<!-- adminDashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
        <title>Admin dashboard: manage your details and appointments</title>
        <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">
        <script th:src="@{/js/render.js}" defer></script>
        <script th:src="@{/js/util.js}" defer></script>
        <script th:src="@{/js/components/header.js}" defer></script>
        <script th:src="@{/js/components/footer.js}" defer></script>
    </head>
    <body>
        <!--WRAPS EVERYTHING-->
        <div class="container">
            <div class="wrapper">
<!--                dynamic header via header.js-->
                <div id="header">

                </div>
<!--                contains search bar, filter section, dynamically-injected list of doctors-->
                <main class="main-content">
<!--                    searchbar, TODO: no <form> needed? DEBUG-->

                    <form action="/action_page.php">
                        <input type="text" id="searchBar" placeholder="search by doctor name" />
                        <label for="sorting">Sort by</label>
                        <select name="sorting" id="sorting">
                            <option value="time">Time</option>
                            <option value="specialty">Specialty</option>
                        </select>
                        <!--TODO: STYLE THE SUBMIT/SEARCH BUTTON-->
                        <button type="submit"></button>
                    </form>
                    <!--Dynamic content-->
                    <div id="content">

                    </div>

                </main>
                <!--Footer Placeholder-->
                <div id="footer">

                </div>

            </div>
        </div>
    </body>
</html>
