<!-- doctorDashboard.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Doctor Dashboard: manage your details and appointments</title>
        <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
        <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
        <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">
        <script th:src="@{/js/render.js}" defer></script>
        <script th:src="@{/js/util.js}" defer></script>
        <script th:src="@{/js/components/header.js}" defer></script>
        <script th:src="@{/js/components/footer.js}" defer></script>
        <script th:src="@{/js/components/patientRows.js}" defer></script>
        <script th:src="@{js/services/patientServices.js}" defer></script>
        <script th:src="@{/js/doctorDashboard.js}" defer></script>
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
            <!--Dynamic header-->
            <div id="header"></div>

            </div>
<!--            the central section of the dashboard-->
            <div class="main-content">
<!--                Search bar and Filters -->
                <input type="text" id="searchBar" class="searchBar" placeholder="Search Bar for custom output" />
                <input type="text" id="todayButton" placeholder="Today" />
                <input type="date" id="datePicker" name="datePicker">
                <!--Results table-->
                <table id="patientTable">
<!--                    Used to specify the head of the table. Can be used in conjuction with tbody-->
                    <thead id="patientTableHead">
                        <tr>
                            <th>Patient ID</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Prescription</th>
                        </tr>
                    </thead>
                    <tbody id="patientTableBody">

                    </tbody>
                    <!--Table rows dynamically added here-->
                </table>
                <!-- dynamically added Footer-->
                <div id="footer">

                </div>


            </div>

        </div>
    </body>

</html>