/*this is the style sheet for the adminDashboard. */

/*---------------------------------GLOBAL STYLES---------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html{
    height:100%;
    font-family: "Arial", sans-serif;
}

/*---------------------------------SECTION STYLES---------------------------------*/


.wrapper{
    display: flex;
    flex-direction: column; /*stacks children vertically*/
}


.main-content{
    flex-grow: 1; /*lets the content fill the available vertical space.*/
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../images/defineRole/index.png");
    background-size: cover; /*ensures the image covers the whole section*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /*fixes the image while scrolling*/
}

/*---------------------------------BUTTON STYLES---------------------------------*/
.prescription-btn{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.prescription-btn:hover{
    scale(1.1);
}
.prescription-btn:active{
    scale(0.95)
}
.noPatientRecord{
    font-size: 16px;
    color: gray;
    font-style: italic;
}
.today-btn{
    margin-right: 10px;
    padding: 10px;
    background-color: #015c5d; /*green*/
}
.date-picker{
    margin-left: 10px;
    margin-top: 13px;
    border-radius: 8px;
    padding: 10px;
    height: 30px;
}
/*---------------------------------TABLE STYLES---------------------------------*/
th{
    font-size: 24px;
    color: #015c5d; /*dark green*/
    margin-bottom: 30px;
    margin-right: 0;
}

table{
    width: 100%;
    border-collapse: collapse ; /*the borders collapse so fewer lines are used (cleaner and cooler)*/
    font-family: sans-serif;
    margin-top: 20px;
}

thead{
    background-color: #33333310; /*light dark*/
    color: white;
}

/*table cells*/
td,th{
    padding: 12px 16px;
    text-align: center;
    border: 1px solid #ddd;
}
/*Alternate row colors are achieved using nth-child() pseudo class*/
tr:nth-child(even) {
    background-color: #f9f9f959; /*light grey*/
}
tr:nth-child(odd) {
    background-color: #ffffffc0; /*whitish*/
}
tr:hover{
    background-color: #015c5d39;
}